@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    transition: .3s;
}
.wrapper{
    display: flex;
    margin: auto;
    margin-top: 1vh;
    width: 98vw;
    min-height: 98vh;
    height: fit-content;
    background: rgb(254,255,255);
    background: linear-gradient(0deg, rgba(254,255,255,1) 0%, rgba(29,30,32,1) 0%, rgba(32,33,35,1) 100%);
    border-radius: 0 2vh 0 0;
    justify-content: start;
    flex-direction: column;
}
.content{
    height: fit-content;
    width: 80vw;
    margin: auto;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 2vh;
    margin-right: 1vh;
    margin-left: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.sections{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}
.sections a{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 640;
    text-decoration: none;
    color: whitesmoke;
    margin: 3vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 6vh;
}
.sections a:nth-child(2){
    background-color: rgb(118, 43, 238);
    border-radius: 1vh;
}
.sections a:hover{
    background-color: rgb(118, 43, 238);
    border-radius: 0;
    text-shadow: .1vh 0px .5vh rgba(233, 233, 233, 1),
             .6vh -.2vh 2.2vh rgba(255, 255, 255, 1);
}
.nav-menu h1{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 640;
    font-size: 3.8vh;
    margin-top: 3vh;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .15vh; 
    animation: 
      typing 2.0s steps(20, end),
      blink-caret 1s step-end infinite;
}
hr{
    background-color: rgb(68, 68, 68);
    height: .35vh;
    border: 0;
    border-color: transparent;
}
.main{
    margin: 3vh;
}
.main header{
    margin: auto;
    display: flex;
    justify-content: center;
    width:60vw;
    flex-direction: column;
    height: fit-content;
}
.main header h1{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 3vh;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 640;
    font-size: 3.8vh;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.main header img{
    width: 8vh;
    height: 8vh;
    margin-top: auto;
    margin-bottom: auto;
}


.card{
    position: relative;
    height: 40vh;
    width: 20vw;
    margin: 3vh;
    transition: ease all 1.5s;
    perspective: 120.0vh;
    &:hover{
      .cover{
        transform: rotateX(0deg) rotateY(-180deg);
        &:before{
          transform: translateZ(3.0vh);
        }
        &:after{
          background-color: black;
        }
        h1{
          transform: translateZ(10.0vh);
        }
        .price{
          transform: translateZ(6.0vh);
        }
        form button{
          transform: translateZ(-6.0vh) rotatey(-180deg);
        }
        .card-back h4{
          transform: translateZ(-6.0vh) rotatey(180deg);
        }
      }
    }
    
    .cover{
      position: absolute;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      transition: ease all 1.5s;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &:before{
        content: '';
        position: absolute;
        border: .5vh solid rgba(255,255,255,.5);
        box-shadow: 0 0 1.2vh rgba(0,0,0,.3); 
        top:2.0vh;
        left:2.0vh;
        right:2.0vh;
        bottom:2.0vh;
        z-index: 2;
        transition: ease all 1.5s;
        transform-style: preserve-3d;
        transform: translateZ(0px);
      }
      &:after{
        content: '';
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        z-index: 2;
        transition: ease all 1.3s;
        background: rgba(0,0,0,.4);
      }
      h1{
        font-weight: 600;
        position: absolute;
        bottom: 5.5vh;
        left: 5.0vh;
        color: white;
        transform-style: preserve-3d;
        transition: ease all 1.5s;
        z-index:3;
        font-size: 4.3vh;
        transform: translateZ(0px);
      }
      .price{
        font-weight: 200;
        position: absolute;
        top: 5.5vh;
        right: 5.0vh;
        color: white;
        transform-style: preserve-3d;
        transition: ease all 1.5s;
        z-index:4;
        font-size: 3vh;
        transform: translateZ(0px);
      }
    }
    .card-back{
      position: absolute;
      height: 100%;
      width: 100%;
      background: #0b0f08;
      transform-style: preserve-3d;
      transition: ease all 1.5s;
      transform: translateZ(-.1vh);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
}
.card-back form button:hover{
  background-color: white;
  color: #0b0f08;
}
.card-back form{
  transform-style: preserve-3d;
  transition: ease all 1.5s;
}
.card-back form button{

  transform: translateZ(-.1vh) rotatey(-180deg);
  background: transparent;
  border: .1vh solid white;
  font-weight: 200;
  font-size: 2.6vh;
  color: white;
  padding: 1.4vh 3.2vh;
  outline: none;
  text-decoration: none;
}
.cardsPeoples,.cardsGames{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 8vh;
  margin-bottom: 8vh;
  filter: drop-shadow(-.1vh -.1vh .7vh #7d7d7d);
}
.card-back h4{
  transform-style: preserve-3d;
  transition: ease all 1.5s;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 4vh;
  transform: translateY(-.1vh) rotatey(180deg);
  text-align: center;
  transform-style: preserve-3d;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 640;
  font-size: 2.2vh;
  color: white;
  
}




.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 640;
    font-size: 7.2vh;
    color: white;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
form .quit_button{
  padding: 1.5vh;
  padding-left: 2.7vh;
  padding-right: 2.7vh;
  font-size: 2.4vh;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 640;
  text-decoration: none;
  color: white;
  margin-top: 2.3vh;
  border: none;
  border-radius: 4.0vh;
  background: rgb(230, 70, 70);
  background: linear-gradient(0deg, rgb(230, 107, 70) 5%, rgb(204, 33, 33) 100%);
}
form .quit_button:hover{
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2.7vh 1.2vh rgba(77, 77, 77, 0.37);
  -moz-box-shadow: 0px 0px 2.7vh 1.2vh rgba(77, 77, 77, 0.37);
  box-shadow: 0px 0px 2.7vh 1.2vh rgba(77, 77, 77, 0.37);
  transform: scale(1.03);
}
.anchor{
  position: fixed;
  top:80%;
  left: 93%;
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  background-color: #272727;
  border-radius: 10vw;
  padding: .5vw;
  filter: blur(.3vh);
  z-index: 10;
}
.anchor button img{
  width: 5vh;
  height: 5vh;
  transition: .4s;
}
.anchor button{
  position: absolute;
  background-color: transparent;
  border: none;
}
.anchor:hover{
  transform: rotate(180deg)scale(1.1);
  filter: blur(0vh);
}